
/* Estilos básicos para la Galería de Dibujos */

/* Estilos generales */



body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.hero__image {
  background: linear-gradient(to right top, #d07070, #fdca7d, #dde0ab, #b3e199, #78dbc6, #89a8ef, #c785f0, #e783ce, #f79eec, #f4c9b6, #eda383, #f0d8cf);
  display: flex;
  flex-direction: column;
  text-align: center;
}


.dibujoAgregar {
    background-color: #dad7d7;
    cursor: pointer;
    margin: auto;
    border-radius: 8px;
}


.hero_violet {
  background-color: #9180de;
}